@model TaskModelVm

@{
	ViewData["Title"] = "Tag Liste";
}

<h2>Tag - Liste</h2>

<table id="tagTable" class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th>Tag-ID</th>
			<th>Name</th>
			<th>HexColor</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tag in Model.AvailableTags)
		{
			<tr id="@tag.Id">
				<td>@tag.Id</td>
				<td>@tag.Name</td>
				<td><input id="hexColor_@tag.Id" type="color" value="#@tag.HexColor" disabled /></td>

				<td>
					@Html.ActionLink("", "EditTag",
										new { id = tag.Id },
										new { @class = "btn btn-secondary bi bi-pencil" })


					@Html.ActionLink("", "DeleteTag",
										new { id = tag.Id },
										new { @class = "btn btn-danger bi bi-trash3" })
				</td>


			</tr>
		}
	</tbody>
</table>

@{
	if ((User.IsInRole("Premium-Tier") || User.IsInRole("Free-Tier")) && Model.AvailableTags.Count < 20)
	{
		<div class="col">
			<button id="addTagButton" class="btn btn-warning">Tags hinzufügen</button>
		</div>
	}
	else if ((User.IsInRole("Premium-Tier") || User.IsInRole("Free-Tier")) && Model.AvailableTags.Count >= 20)
	{
		<div><span class="text-danger">Du hast deine Grenze für Free-Tier/Premium-Tier erreicht.</span></div>
	}
}


<span class="text-danger">@TempData["ErrorMessage"]</span>



<!-- Modal Tag-->
<div class="modal fade" id="addTagModal" tabindex="-1" aria-labelledby="addTagModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addTagModalLabel">Neuen Tag hinzufügen</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="addTagForm" method="post" action="/User/AddTag">

					@foreach (var item in Model.TaskList)
					{
						<input type="hidden" name="todoId" value="@item.TodoId" />
					}

					<div class="col-md-12 mb-3">
						<div class="input-group">
							<span class="input-group-text" id="name">Name</span>
							<input type="text" class="form-control" name="name" maxlength="10" required>
						</div>
					</div>

					@{
						Random random = new Random();
						// Generate three random bytes for RGB values
						byte[] rgb = new byte[3];
						random.NextBytes(rgb);

						// Convert the bytes to a hexadecimal string
						string colorCode = BitConverter.ToString(rgb).Replace("-", "");
					}

					<div class="col-md-12 mb-3">
						<div class="input-group">
							<span class="input-group-text" id="hexColor">Farbe</span>
							<input type="color" class="form-control" name="hexColor" maxlength="6" value="#@colorCode" required
								   style="height: 38px;">
						</div>
					</div>
					<hr />
					<h3>Vorhandene Tags</h3>
					<div class="col-md-12 mb-3">
						<div class="input-group">
							<div class="col-md-12 mb-3">
								<div class="input-group">
									@foreach (var tag in Model.AvailableTags)
									{
										<span class="badge" style="background-color:#@tag.HexColor">@tag.Name</span>
									}
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Schließen</button>
				<button type="submit" form="addTagForm" class="btn btn-success">Hinzufügen</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#addTagButton').click(function () {
				$('#addTagModal').modal('show');
			});
		});
	</script>
}